:root {
  --colorbody:#e4ded3;
  --fuente:"Ubuntu", sans-serif;
}

body {
  font-family: var(--fuente);
  background-color: var(--colorbody);
}
body a {
  text-decoration: underline;
  color: black;
}
body .mainprincipal {
  background-color: #e4ded3;
}
body .mainprincipal .hero1 {
  height: 100vh;
  background: url(../imagen/portada.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .mainprincipal .hero1:after {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
body .mainprincipal .principalimagen {
  height: 75vh;
  width: 100%;
}
@media (min-width: 320px) and (max-width: 768px) {
  body .mainprincipal .principalimagen {
    height: 50vh;
    width: 100%;
  }
}
body .mainprincipal .tittlegalery {
  font-size: 1.2cm;
  text-decoration: none;
}
body .mainprincipal .tittlevideo {
  font-size: 1.2cm;
}

.barranavegacion {
  width: 100%;
  height: 100%;
}
.barranavegacion .nav-link:hover {
  background-color: #4b2727;
}

:root {
  --colordatos:#e7ced7;
  --fuente:"Ubuntu", sans-serif;
}

footer {
  background-color: var(--colordatos);
}
footer .iconofooter {
  text-decoration: none;
}
footer .iconofooter .bi-iconos {
  position: relative;
}
footer .iconofooter .bi-iconos:hover {
  transform: scale(3);
}

:root {
  --fuente:"Ubuntu", sans-serif;
}

body {
  font-family: var(--fuente);
}
body .imgbio {
  height: 60vh;
  width: 100%;
}
body .titulovida {
  font-size: 1.5cm;
}
body .titulocarrera {
  font-size: 1.5cm;
}

.bodyfil {
  height: 200%;
}
.bodyfil .filmo {
  border-radius: 5%;
}
@media (min-width: 320px) and (max-width: 768px) {
  .bodyfil .filmo .parrafofilmo {
    text-align: left;
    justify-content: center;
  }
}
.bodyfil .filmo .biofil {
  border-radius: 15%;
  width: 25%;
  height: 30vh;
}
@media (min-width: 320px) and (max-width: 768px) {
  .bodyfil .filmo .biofil {
    width: 25%;
    height: 21vh;
    margin-top: 5%;
  }
}
.bodyfil #tiempo {
  height: 120%;
}
.bodyfil #tiempo .lineadetiempo {
  position: relative;
  padding: 30px 0;
  margin: 50px auto;
}
@media (min-width: 769px) and (max-width: 1280px) {
  .bodyfil #tiempo .lineadetiempo {
    display: flex;
    justify-content: center;
  }
}
.bodyfil #tiempo .lineadetiempo:before {
  content: "";
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background: #008000;
}
@media (min-width: 320px) and (max-width: 768px) {
  .bodyfil #tiempo .lineadetiempo:before {
    left: 0.1%;
  }
}
.bodyfil #tiempo .lineadetiempo ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.bodyfil #tiempo .lineadetiempo ul li {
  line-height: normal;
  position: relative;
  width: 50%;
  padding: 10px 10px;
}
@media (min-width: 320px) and (max-width: 768px) {
  .bodyfil #tiempo .lineadetiempo ul li {
    width: 80%;
    padding: 10px 10px;
  }
}
.bodyfil #tiempo .lineadetiempo ul li:nth-child(odd) {
  float: left;
  text-align: left;
  clear: both;
}
.bodyfil #tiempo .lineadetiempo ul li:nth-child(odd):before {
  content: "";
  position: absolute;
  top: 24px;
  right: -6px;
  width: 10px;
  height: 10px;
  background-color: #660566;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #660566;
}
@media (min-width: 320px) and (max-width: 768px) {
  .bodyfil #tiempo .lineadetiempo ul li:nth-child(odd):before {
    left: -4px;
  }
}
.bodyfil #tiempo .lineadetiempo ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}
.bodyfil #tiempo .lineadetiempo ul li:nth-child(even):before {
  content: "";
  position: absolute;
  top: 24px;
  left: -4px;
  width: 10px;
  height: 10px;
  background-color: #660566;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #660566;
}
@media (min-width: 769px) and (max-width: 1280px) {
  .bodyfil #tiempo .lineadetiempo ul li:nth-child(even):before {
    right: -6px;
  }
}
@media (min-width: 769px) and (max-width: 1280px) {
  .bodyfil #tiempo .lineadetiempo ul li:nth-child(even) {
    float: right;
    text-align: left;
    clear: both;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .bodyfil #tiempo .lineadetiempo ul li:nth-child(even) {
    float: none;
    text-align: left;
    clear: both;
  }
}
.bodyfil #tiempo .lineadetiempo ul li .contenido {
  padding-bottom: 20px;
}

.galeriaalbum {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 210px;
  grid-gap: 10px;
  padding: 20px;
  object-fit: cover;
}
.galeriaalbum .galeria_img {
  width: 100%;
  height: 100%;
}
.galeriaalbum .figura:nth-child(6) {
  grid-column-start: span 2;
}
.galeriaalbum .figura:nth-child(2) {
  grid-column-start: span 2;
}
@media (min-width: 320px) and (max-width: 768px) {
  .galeriaalbum {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 210px;
    grid-gap: 10px;
    padding: 20px;
  }
  .galeriaalbum .figura:nth-child(1) {
    grid-column-start: span 2;
  }
  .galeriaalbum .figura:nth-child(5) {
    grid-column-start: span 2;
  }
}

.navbar {
  --bs-navbar-padding-y: 0;
}

.row {
  margin-right: 0rem;
}

.musicmain {
  background-color: #e4ded3;
}
.musicmain .titulospotify {
  padding-top: 2%;
  color: rgb(15, 15, 17);
  font-size: 1.2cm;
  text-transform: uppercase;
  font-weight: 600;
  text-shadow: 2px 4px rgb(80, 64, 64);
  font-family: Arial, Helvetica, sans-serif;
  background-color: palevioletred;
  padding-bottom: 2%;
}
.musicmain .caja1 {
  padding: 2%;
}
.musicmain .caja1 .titulospotify2 {
  padding-top: 2%;
  padding-left: 2%;
  color: black;
  font-size: 1cm;
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
}
.musicmain .caja1 .titulospotify3 {
  padding-bottom: 4%;
}

.fondoformu {
  background-image: url(/imagen/bodyformu.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.cajapadre1 {
  background-color: rgbas(120, 119, 123, 0.3);
  border-radius: 5%;
  font-weight: bold;
  box-shadow: inset 1px 1px 22px 4px;
}
@media (min-width: 320px) and (max-width: 768px) {
  .cajapadre1 {
    margin-left: 11px;
  }
}
.cajapadre1 .btn-primary {
  background-color: blueviolet;
}
.cajapadre1 .btn-outline-primary {
  background-color: blueviolet;
}

/*# sourceMappingURL=style.css.map */
