@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");
.mainprincipal {
  background-color: #f8f6de;
}
.mainprincipal .hero1 {
  height: 100vh;
  background: url(../imagen/portada.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainprincipal .hero1:after {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.mainprincipal .titulo1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.barranavegacion {
  width: 100%;
  height: 100%;
}
.barranavegacion .nav-link:hover {
  background-color: #4b2727;
}

.iconofooter {
  text-decoration: none;
}
.iconofooter .bi-iconos {
  position: relative;
}
.iconofooter .bi-iconos:hover {
  transform: scale(3);
}

.bodyfil {
  height: 200%;
}
.bodyfil #tiempo {
  height: 150%;
}
.bodyfil #tiempo .lineadetiempo {
  position: relative;
  padding: 30px 0;
  margin: 50px auto;
}
@media (min-width: 769px) and (max-width: 1280px) {
  .bodyfil #tiempo .lineadetiempo {
    display: flex;
    justify-content: center;
  }
}
.bodyfil #tiempo .lineadetiempo:before {
  content: "";
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background: #008000;
}
@media (min-width: 320px) and (max-width: 768px) {
  .bodyfil #tiempo .lineadetiempo:before {
    left: 0.1%;
  }
}
.bodyfil #tiempo .lineadetiempo ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.bodyfil #tiempo .lineadetiempo ul li {
  line-height: normal;
  position: relative;
  width: 50%;
  padding: 10px 10px;
}
@media (min-width: 320px) and (max-width: 768px) {
  .bodyfil #tiempo .lineadetiempo ul li {
    width: 80%;
    padding: 10px 10px;
  }
}
.bodyfil #tiempo .lineadetiempo ul li:nth-child(odd) {
  float: left;
  text-align: left;
  clear: both;
}
.bodyfil #tiempo .lineadetiempo ul li:nth-child(odd):before {
  content: "";
  position: absolute;
  top: 24px;
  right: -6px;
  width: 10px;
  height: 10px;
  background-color: #660566;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #660566;
}
@media (min-width: 320px) and (max-width: 768px) {
  .bodyfil #tiempo .lineadetiempo ul li:nth-child(odd):before {
    left: -4px;
  }
}
.bodyfil #tiempo .lineadetiempo ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}
.bodyfil #tiempo .lineadetiempo ul li:nth-child(even):before {
  content: "";
  position: absolute;
  top: 24px;
  left: -4px;
  width: 10px;
  height: 10px;
  background-color: #660566;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #660566;
}
@media (min-width: 769px) and (max-width: 1280px) {
  .bodyfil #tiempo .lineadetiempo ul li:nth-child(even):before {
    right: -6px;
  }
}
@media (min-width: 769px) and (max-width: 1280px) {
  .bodyfil #tiempo .lineadetiempo ul li:nth-child(even) {
    float: right;
    text-align: left;
    clear: both;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .bodyfil #tiempo .lineadetiempo ul li:nth-child(even) {
    float: none;
    text-align: left;
    clear: both;
  }
}
.bodyfil #tiempo .lineadetiempo ul li .contenido {
  padding-bottom: 20px;
}

.galeriaalbum {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 210px;
  grid-gap: 10px;
  padding: 20px;
  object-fit: cover;
}
.galeriaalbum .galeria_img {
  width: 100%;
  height: 100%;
}
.galeriaalbum .figura:nth-child(6) {
  grid-column-start: span 2;
}
.galeriaalbum .figura:nth-child(2) {
  grid-column-start: span 2;
}
@media (min-width: 320px) and (max-width: 768px) {
  .galeriaalbum {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 210px;
    grid-gap: 10px;
    padding: 20px;
  }
  .galeriaalbum .figura:nth-child(1) {
    grid-column-start: span 2;
  }
  .galeriaalbum .figura:nth-child(5) {
    grid-column-start: span 2;
  }
}

:root {
  --background: #e2ebf0;
  --gray: #2e093d;
}

.fondomain {
  background-color: #ffffff;
}
.fondomain .reproductortarjetas {
  padding: 20px;
}
.fondomain .reproductortarjetas .titulolist {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 5%;
}
.fondomain .reproductortarjetas .tituloclasicos {
  display: flex;
  justify-content: flex-start;
  margin-top: 5%;
  margin-bottom: 2%;
  margin-left: 5%;
}
.fondomain .reproductortarjetas .contenedor-productos {
  background-color: rgb(156, 152, 152);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  padding: 20px;
  overflow-x: scroll;
  min-height: 50vh;
}
.fondomain .reproductortarjetas .contenedor-productos .player {
  width: 300px;
  height: 550px;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  box-shadow: 9px 9px 16px rgba(140, 167, 207, 0.6), -9px -9px 16px rgba(248, 242, 242, 0.5);
}
.fondomain .reproductortarjetas .contenedor-productos .player .player__controles {
  display: flex;
  width: 95%;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 25px;
}
.fondomain .reproductortarjetas .contenedor-productos .player .player__controles .player__btn {
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -8px -8px 20px 0px rgba(255, 255, 255, 0.6), -6px -6px 6px 0px rgba(255, 255, 255, 0.6), 8px 8px 20px rgba(0, 0, 0, 0.0666666667), 5px 5px 6px 0px rgba(0, 0, 0, 0.0666666667);
  color: var(--gray);
  margin-top: 5px;
}
.fondomain .reproductortarjetas .contenedor-productos .player .player__controles .player__btn:active {
  box-shadow: inset -8px -8px 20px rgba(255, 255, 255, 0.6), inset -5px -5px 6px rgba(255, 255, 255, 0.6), inset 8px 8px 20px rgba(0, 0, 0, 0.2), inset 5px 5px 6px rgba(0, 0, 0, 0.0666666667);
}
.fondomain .reproductortarjetas .contenedor-productos .player .player__controles .player__btn--small {
  min-width: 50px;
  min-height: 50px;
}
.fondomain .reproductortarjetas .contenedor-productos .player .player__controles .player__btn--medium {
  min-height: 70px;
  min-width: 70px;
}
.fondomain .reproductortarjetas .contenedor-productos .player .player__controles .blue {
  background-color: #080808;
  color: #f7f2f8;
}
.fondomain .reproductortarjetas .contenedor-productos .player .player__controles .player__title {
  font-weight: 600;
  font-size: 0.8em;
  color: #0a0a0a;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0px;
}
.fondomain .reproductortarjetas .contenedor-productos .player .player__album {
  width: 150px;
}
.fondomain .reproductortarjetas .contenedor-productos .player .player__album img {
  width: 100%;
}
.fondomain .reproductortarjetas .contenedor-productos .player .player__album .player__img {
  border-radius: 50%;
  box-shadow: 2px 2px 7px rgb(163, 177, 198), -2px -2px 7px rgb(163, 177, 198), -8px -8px 50px rgba(255, 255, 255, 0.8), 3px 3px 25px rgba(0, 0, 0, 0.6);
}
.fondomain .reproductortarjetas .contenedor-productos .player .player__artista {
  font-size: 1.2em;
  font-weight: 500;
  opacity: 0.5;
  margin: 20px 0px 0px 0px;
}
.fondomain .reproductortarjetas .contenedor-productos .player .player__tema {
  position: relative;
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 1em;
  opacity: 0.5;
  margin: 0;
  padding-bottom: 5px;
}
.fondomain .reproductortarjetas .contenedor-productos .player .player__level {
  width: 80%;
  -webkit-appearance: none;
  outline: none;
  border: none;
  padding: 0;
  margin-top: 40px;
}
.fondomain .reproductortarjetas .contenedor-productos .player .player__level::-webkit-slider-runnable-track {
  background-color: #c39df8;
  height: 6px;
  border-radius: 3px;
}
.fondomain .reproductortarjetas .contenedor-productos .player .player__level::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 100%;
  background-color: #060f06;
  height: 18px;
  width: 18px;
  margin-top: -7px;
}
.fondomain .reproductortarjetas .contenedor-productos .player .audio-duration {
  margin-top: -30px;
  display: flex;
  width: 78%;
  font-size: 10px;
  font-weight: 600;
  color: #a1a1a1;
  letter-spacing: 1px;
}
.fondomain .reproductortarjetas .contenedor-productos .player .audio-duration .start {
  flex: 1;
}
.fondomain .reproductortarjetas .contenedor-productos .player .player__audio {
  visibility: hidden;
}
.fondomain .reproductortarjetas .contenedor-productos .player .hide {
  display: none;
}

/*# sourceMappingURL=style.css.map */
