.hero1 {
  height: 100vh;
  background: url(../imagen/portada.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero1::after {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.hero1 .hero2 {
  color: rgba(235, 238, 241, 0.9607843137);
  font-size: 3rem;
}
.hero1 .titulo1 {
  display: flex;
  justify-content: center;
  align-items: none;
  background-color: #000000;
}
.hero1 .titulo2 {
  background-color: #000000;
}

.nav-link:hover {
  background-color: #a52a2a;
}

.iconofooter .bi-iconos {
  position: relative;
}
.iconofooter .bi-iconos:hover {
  transform: scale(2.5);
}

.bodyfil {
  height: 200%;
}
.bodyfil .filmonav {
  width: 95%;
}
.bodyfil #tiempo {
  height: 150%;
}
.bodyfil #tiempo .lineadetiempo {
  position: relative;
  padding: 30px 0;
  margin: 50px auto;
}
@media (min-width: 769px) and (max-width: 1280px) {
  .bodyfil #tiempo .lineadetiempo {
    display: flex;
    justify-content: center;
  }
}
.bodyfil #tiempo .lineadetiempo:before {
  content: "";
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background: #008000;
}
@media (min-width: 320px) and (max-width: 768px) {
  .bodyfil #tiempo .lineadetiempo:before {
    left: 0.1%;
  }
}
.bodyfil #tiempo .lineadetiempo ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.bodyfil #tiempo .lineadetiempo ul li {
  line-height: normal;
  position: relative;
  width: 50%;
  padding: 10px 10px;
}
@media (min-width: 320px) and (max-width: 768px) {
  .bodyfil #tiempo .lineadetiempo ul li {
    width: 80%;
    padding: 10px 10px;
  }
}
.bodyfil #tiempo .lineadetiempo ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}
.bodyfil #tiempo .lineadetiempo ul li:nth-child(odd):before {
  content: "";
  position: absolute;
  top: 24px;
  right: -6px;
  width: 10px;
  height: 10px;
  background-color: #008000;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #008000;
}
@media (min-width: 320px) and (max-width: 768px) {
  .bodyfil #tiempo .lineadetiempo ul li:nth-child(odd):before {
    left: -4px;
  }
}
.bodyfil #tiempo .lineadetiempo ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}
.bodyfil #tiempo .lineadetiempo ul li:nth-child(even):before {
  content: "";
  position: absolute;
  top: 24px;
  left: -4px;
  width: 10px;
  height: 10px;
  background-color: #008000;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #008000;
}
@media (min-width: 769px) and (max-width: 1280px) {
  .bodyfil #tiempo .lineadetiempo ul li:nth-child(even):before {
    right: -6px;
  }
}
@media (min-width: 769px) and (max-width: 1280px) {
  .bodyfil #tiempo .lineadetiempo ul li:nth-child(even) {
    float: right;
    text-align: left;
    clear: both;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .bodyfil #tiempo .lineadetiempo ul li:nth-child(even) {
    float: none;
    text-align: left;
    clear: both;
  }
}
.bodyfil #tiempo .lineadetiempo ul li .contenido {
  padding-bottom: 20px;
}

.galeriahtml {
  padding-bottom: 3em;
  padding-top: 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  gap: 0.8em;
  grid-template-areas: "images(1) images(1) images(2)" "images(1) images(1) images(3)" "images(6) images(4) images(5)" "images(6) images(7) images(7)" "images(8) images(9) images(10)";
}
.galeriahtml .galeria_picture1 {
  grid-row: 1/3;
  grid-column: 1/3;
}
.galeriahtml .galeria_picture6 {
  grid-row: 3/5;
}
.galeriahtml .galeria_picture7 {
  grid-column: 2/4;
}
.galeriahtml .picture .galeria_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
