@import'../base/mixin.scss';
@import'../base/variables.scss';

:root{
    --fuente:'Ubuntu', sans-serif;
}

body{
    font-family: var(--fuente);

    .imgbio{
        height: 60vh;
        width: 100%;
    }
            
    .titulovida{

        font-size: 1.5cm;
        
    }

    .titulocarrera{

        font-size: 1.5cm;
        
    }

}