@import'../base/mixin';
@import'../base/variables';

:root{
    --colordatos:#e7ced7;
    --fuente:'Ubuntu', sans-serif;
}

footer{
    background-color: var(--colordatos); 

.iconofooter {

    text-decoration: none;

    .bi-iconos{
        position: relative;

        &:hover{
        transform: scale(3);
        }
    }

    }
}
