@import'../base/mixin';
@import'../base/variables';

.iconofooter {

    text-decoration: none;

    .bi-iconos{
        position: relative;

        &:hover{
        transform: scale(3);
        }
    }

}
