.bodyfil{
    height: 200%;
    .filmonav{
        width: 95%;
    }

    #tiempo{
        height: 150%;
        .lineadetiempo{
            position: relative;
            padding: 30px 0;
            margin: 50px auto;

            &:before{
                content:"";
                position: absolute;
                /*left: 50%;*/
                width: 2px;
                height: 100%;
                background: green
            }
            ul {
                margin: 0;
                padding: 0;
                list-style: none;

                li{
                    line-height: normal;
                    position:relative ;
                    width: 50%;
                    padding: 10px 10px;

                    &:nth-child(odd){
                        float: left;
                        text-align: right;
                        clear: both;

                        &:before{
                            content: "";
                            position: absolute;
                            top:24px;
                            /*right: -6px;*/
                            width: 10px;
                            height: 10px;
                            background-color: rgb(102, 5, 102);
                            border-radius: 50%;
                            box-shadow: 0 0 0 3px rgb(102, 5, 102);
                        }
                    }

                    &:nth-child(even){
                        float: left;
                        text-align: right;
                        clear: both;

                        &:before{
                            content:"";
                            position: absolute;
                            top:24px;
                            left: -4px;
                            width: 10px;
                            height: 10px;
                            background-color: rgb(102, 5, 102);
                            border-radius: 50%;
                            box-shadow: 0 0 0 3px rgb(102, 5, 102);
                        }
                
                    }

                    .contenido{
                        padding-bottom: 20px ;
                    }

                }

            }

        }

    }

}


