@import'../base/variables';
@import'../base/mixin';


.navbar{
  --bs-navbar-padding-y: 0;
}

.row{
    margin-right: 0rem;
}

.musicmain{
background-color:#e4ded3;

  .titulospotify{
    padding-top: 2%;
    color: rgb(15, 15, 17);
    font-size: 1.2cm;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 2px 4px rgb(80, 64, 64);
    font-family: Arial, Helvetica, sans-serif;
    background-color: palevioletred;
    padding-bottom: 2%;
    
  }

  .caja1{
    padding: 2%;

  

  .titulospotify2{
    padding-top: 2%;
    padding-left: 2%;
    color: black;
    font-size: 1cm;
    display: flex;
    justify-content: flex-start;
    font-weight: bold;

  }

  .titulospotify3{
    padding-bottom: 4%;
      
  }

}
  
}

