@import'../base/variables';
@import'../base/mixin';

.hero1{
    height: 100vh;
    background: url(../imagen/portada.jpg);
    background-size: cover;
    background-attachment: fixed;
   
    @include flexbox(center, center);
    
    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
       }

    .hero2 {
        color: $colorhero;
        font-size: 3rem;

    }

    .titulo1{
        @include flexbox (center, none);
        background-color: $colortitle;
    }

    .titulo2{
        background-color: $colortitle;
    }

}