@import'../base/variables';
@import'../base/mixin';

.mainprincipal{
    background-color: $colormain;

.hero1{
    height: 100vh;
    background: url(../imagen/portada.jpg);
    background-size: cover;
    background-attachment: fixed;
    
   
    @include flexbox(center, center);
    
    &:after{
        content: "";
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
       }

   
   }

    .titulo1{
    @include flexbox (center, center);
    
}

}

