$colorline: #008000;
$colornav: #4b2727;
$colortime: #660566;
$colormain: #f8f6de;
$colorhero: #ebeef1f5;
$colorspotify: #e0e5ec;;
$colorsombramusic: #797d7f;
$colorbottons: #0f0fd3;
$colorbtnsombras:#35046d;
$colorbtnsombras2:#290129;